[Desktop Entry]
Type=Application
Name=Indicator Stickynotes
Name[en_GB]=Indicator Stickynotes
GenericName=Sticky Notes
GenericName[ca]=Notes adhesives
GenericName[cs]=Lepící poznámky
GenericName[da]=Post-It noter
GenericName[de]=Klebezettel
GenericName[el]=Sticky Notes
GenericName[en_GB]=Sticky Notes
GenericName[es]=Notas adhesivas
GenericName[eu]=Ohar itsaskorrak
GenericName[fr]=Pense-bêtes
GenericName[he]=פתקים נצמדים
GenericName[hi]=स्टिकी नोट्स
GenericName[hr]=Ljepljive bilješke
GenericName[hu]=Ragadós jegyzetek
GenericName[it]=Note adesive
GenericName[lt]=Lipnūs rašteliai
GenericName[pt]=Sticky Notes
GenericName[pt_BR]=Notas adesivas
GenericName[ru]=Sticky Notes
GenericName[sk]=Sticky Notes
GenericName[tr]=Yapışkan Notlar
GenericName[uk]=Липкі нотатки
GenericName[zh_CN]=便笺
GenericName[zh_TW]=便利貼
Comment=Manage your To-Do list and jot down thoughts
Comment[en_GB]=Manage your To-Do list and jot down thoughts
Icon=indicator-stickynotes
Exec=indicator-stickynotes
Categories=Utility;TextTools;
Hidden=False
X-GNOME-autostart-enabled=true
