GtkTextView
{
	/*background-image-source: -gtk-gradient(linear,
		left top, right bottom,
		from(#ff0), to(#0ff));*/
	background-color:transparent;
}
GtkTextView:selected
{
	background-color:#FFA500;
	color:#000;
}
GtkWindow
{
	background-image: -gtk-gradient(linear,
		left top, left bottom,
		from(#ff7), to(#fe0));
}
GtkButton
{
	background:transparent;
}
