/* 
 * Copyright © 2012 Umang Varma <umang.me@gmail.com>
 * 
 * This file is part of indicator-stickynotes.
 * 
 * indicator-stickynotes is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 * 
 * indicator-stickynotes is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * indicator-stickynotes.  If not, see <http://www.gnu.org/licenses/>.
 * 
 */

GtkWindow GtkSourceView
{
    background-color:transparent;
}
GtkSourceView:selected
{
    background-color:#FFA500;
    color:#000;
}
GtkButton, GtkEventBox
{
    background:transparent;
}

#main-window GtkEntry{
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

