/* 
 * Copyright © 2012-2015 Umang Varma <umang.me@gmail.com>
 * 
 * This file is part of indicator-stickynotes.
 * 
 * indicator-stickynotes is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 * 
 * indicator-stickynotes is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * indicator-stickynotes.  If not, see <http://www.gnu.org/licenses/>.
 * 
 */

GtkSourceView, GtkButton, GtkEventBox
{
    background:transparent;
}

#main-window GtkEntry{
  background: rgba(0,0,0,0);
  border: none;
  border-style: none;
  box-shadow: 0 0 0 black;
  border-radius: 0;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  padding: 0px
}

#main-window GtkEntry:focused{
  background: rgba(0,0,0,0.1);
  color: black;
}

#main-window GtkScrolledWindow{
  border: none;
}

.scrollbar {
  background: none;
}
.scrollbar.slider {
  background: rgba(0,0,0,0.5);
}

